*{
    text-align: center;
    color: #ffffff;
}

.table1 tr{
    height: 40px;
}

table,td,tr,th{
    border-collapse: collapse;
}
table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

hr{
    width:50%;
}

ul{
    display:inline-block;
}
td,th,tr{
    border: 0;
    text-align: left;
}